<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="catalina.base">.</Property>
    </Properties>

	<Appenders>
		<Console name="STDERR" target="SYSTEM_ERR">
			<PatternLayout pattern="%msg%n" />
		</Console>

		<RollingFile name="File"
			fileName="logs/batchimport.log"
			filePattern="logs/batchimport.%d{dd-MMM}.log.gz"
			ignoreExceptions="false">
			<PatternLayout>
				<Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1.} [%t]%x %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" />
			</Policies>
			<DefaultRolloverStrategy max="5" />
		</RollingFile>
	</Appenders>

    <Loggers>
        <Root level="debug">
            <AppenderRef ref="STDERR"/>
            <AppenderRef ref="File" />
        </Root>
    </Loggers>
</Configuration>
