<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <!--
  <logger name="org.elasticsearch">
      <level value="warn"/>
</logger>
-->
  <logger name="se.kb.libris.whelks.api.BasicAPI">
      <level value="warn"/>
  </logger>
  <logger name="se.kb.libris.whelks.plugin.EntityExtractionDocumentSplitter">
      <level value="info"/>
  </logger>
  <logger name="se.kb.libris.whelks.plugin.BasicListener">
      <level value="info"/>
  </logger>
  <logger name="se.kb.libris.whelks.AbstractWhelkServlet">
      <level value="info"/>
  </logger>
  <logger name="se.kb.libris.whelks.WhelkInitializer">
      <level value="info"/>
  </logger> 
  <logger name="se.kb.libris.whelks.StandardWhelk">
      <level value="info"/>
  </logger>
 <logger name="se.kb.libris.whelks.component.ElasticSearch">
      <level value="info"/>
  </logger>
 <logger name="se.kb.libris.whelks.plugin.BasicPlugin">
      <level value="info"/>
  </logger>
 <logger name="se.kb.libris.whelks.component.BasicComponent">
      <level value="info"/>
  </logger>
 <logger name="se.kb.libris.whelks.component.PairtreeDiskStorage">
      <level value="info"/>
  </logger>
 <logger name="se.kb.libris.whelks.component.PairtreeHybridDiskStorage">
      <level value="info"/>
  </logger>
 <logger name="se.kb.libris.whelks.component.HttpBatchGraphStore">
      <level value="info"/>
  </logger>
<logger name="se.kb.libris.whelks.api.DocumentAPI">
      <level value="info"/>
  </logger>
<logger name="se.kb.libris.whelks.api.ReindexOperator">
      <level value="info"/>
  </logger>
<logger name="se.kb.libris.whelks.api.OperatorRestlet">
      <level value="info"/>
  </logger>
<logger name="se.kb.libris.whelks.component.UriToElasticType">
      <level value="info"/>
  </logger>
<logger name="se.kb.libris.whelks.component.ElasticQuery">
      <level value="debug"/>
  </logger>
<logger name="se.kb.libris.whelks.Query">
      <level value="info"/>
  </logger>
<logger name="se.kb.libris.whelks.api.RemoteSearchAPI">
    <level value="info"/>
</logger>
<logger name="se.kb.libris.whelks.plugin.LibrisURIMinter">
  <level value="warn"/>
</logger>

  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>

