<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="org.elasticsearch">
      <level value="warn"/>
   </logger>
  <logger name="org.apache.camel">
      <level value="info"/>
  </logger>
  <logger name="org.apache.jena.fuseki">
      <level value="warn"/>
  </logger>
  <logger name="org.apache.camel.component.http4">
      <level value="warn"/>
  </logger>
  <logger name="org.apache.camel.component.elasticsearch">
      <level value="warn"/>
  </logger>
  <logger name="org.apache.activemq.camel.component">
      <level value="debug"/>
  </logger>
  <logger name="org.apache.activemq">
      <level value="warn"/>
  </logger>
  <logger name="org.apache.camel.builder.RouteBuilder" level="info"/>
  <logger name="whelk.camel.FormatConverterProcessor">
      <level value="info"/>
  </logger>
  <logger name="whelk.camel.APIXProcessor">
      <level value="info"/>
  </logger>
  <logger name="whelk.camel.ElasticRouteProcessor">
      <level value="info"/>
  </logger>
  <logger name="whelk.camel.GraphstoreBatchUpdateAggregationStrategy">
      <level value="info"/>
  </logger>
  <logger name="whelk.api.BasicAPI">
      <level value="warn"/>
  </logger>
  <logger name="whelk.plugin.EntityExtractionDocumentSplitter">
      <level value="info"/>
  </logger>
  <logger name="whelk.plugin.BasicListener">
      <level value="info"/>
  </logger>
  <logger name="whelk.AbstractWhelkServlet">
      <level value="info"/>
  </logger>
  <logger name="whelk.WhelkInitializer">
      <level value="info"/>
  </logger> 
  <logger name="whelk.StandardWhelk">
      <level value="info"/>
  </logger>
 <logger name="whelk.component.BasicElasticComponent">
      <level value="info"/>
  </logger>
 <logger name="whelk.component.ElasticSearch">
      <level value="info"/>
  </logger>
 <logger name="whelk.component.ElasticSearchStorage">
      <level value="info"/>
  </logger>
 <logger name="whelk.plugin.BasicPlugin">
      <level value="info"/>
  </logger>
 <logger name="whelk.component.BasicComponent">
      <level value="info"/>
  </logger>
 <logger name="whelk.component.PairtreeHybridDiskStorage">
      <level value="info"/>
  </logger>
 <logger name="whelk.component.HttpBatchGraphStore">
      <level value="info"/>
  </logger>
<logger name="whelk.JsonDocument">
      <level value="info"/>
  </logger>
<logger name="whelk.api.IRIAPI">
      <level value="debug"/>
  </logger>
<logger name="whelk.api.DocumentAPI">
      <level value="info"/>
  </logger>
<logger name="whelk.api.ReindexOperator">
      <level value="info"/>
  </logger>
<logger name="whelk.api.TransferOperator">
      <level value="info"/>
  </logger>
<logger name="whelk.api.OperatorRestlet">
      <level value="info"/>
  </logger>
<logger name="whelk.component.UriToElasticType">
      <level value="info"/>
  </logger>
<logger name="whelk.LinkedDataAPIQuery">
      <level value="info"/>
  </logger>
<logger name="whelk.ElasticQuery">
      <level value="info"/>
  </logger>
<logger name="whelk.Query">
      <level value="info"/>
  </logger>
<logger name="whelk.api.RemoteSearchAPI">
    <level value="info"/>
</logger>
<logger name="whelk.plugin.JsonLDLinkExpander">
  <level value="info"/>
</logger>
<logger name="whelk.plugin.JsonLDLinkCompleterFilter">
  <level value="info"/>
</logger>
<logger name="whelk.plugin.MarcXml2JsonLDConverter">
  <level value="info"/>
</logger>
<logger name="whelk.importer.libris.MySQLImporter">
  <level value="info"/>
</logger>
<logger name="whelk.importer.OaiPmhImporter">
  <level value="info"/>
</logger>
<logger name="whelk.importer.LibrisOaiPmhImporter">
  <level value="info"/>
</logger>
<logger name="whelk.api.ImportOperator" level="debug"/>
<logger name="whelk.importer.libris.OldOAIPMHImporter">
  <level value="info"/>
</logger>
<logger name="whelk.plugin.LibrisURIMinter">
  <level value="warn"/>
</logger>

  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>

