<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <!--
  <logger name="org.elasticsearch">
      <level value="warn"/>
</logger>
-->
  <logger name="se.kb.libris.whelks.plugin.JsonLDEntityExtractorIndexFormatConverter">
      <level value="trace"/>
  </logger>
      <!--
  <logger name="se.kb.libris.whelks.plugin.JsonLDLinkFinder">
       <level value="trace"/>
  </logger>
  <logger name="se.kb.libris.whelks.plugin.IndexLinkFinder">
       <level value="trace"/>
  </logger>
  <logger name="se.kb.libris.conch">
      <level value="trace"/>
  </logger>
  <logger name="se.kb.libris.whelks.plugin.MarcFrameConverter">
      <level value="debug"/>
  </logger>
  <logger name="se.kb.libris.whelks.plugin.BasicMarc2JsonLDConverter">
      <level value="debug"/>
  </logger>
  <logger name="se.kb.libris.whelks.plugin.BasicFormatConverter">
      <level value="trace"/>
  </logger>
  <logger name="se.kb.libris.whelks.plugin.MarcBib2JsonLDConverter">
      <level value="debug"/>
  </logger>
  <logger name="se.kb.libris.whelks.plugin.Marc2JsonLDConverter">
      <level value="debug"/>
  </logger>
   <logger name="se.kb.libris.whelks.importers.OAIPMHImporter">
      <level value="debug"/>
  </logger>
   <logger name="se.kb.libris.whelks.swepub.importers.ModsImporter">
      <level value="trace"/>
  </logger>
  <logger name="se.kb.libris.whelks.plugin.JsonLD2MarcConverter">
      <level value="trace"/>
  </logger>
  <logger name="se.kb.libris.whelks.plugin.MarcCrackerAndLabelerIndexFormatConverter">
      <level value="error"/>
  </logger>
  <logger name="se.kb.libris.whelks.plugin">
      <level value="trace"/>
  </logger>
  <logger name="se.kb.libris.whelks.component">
      <level value="debug"/>
  </logger>
  <logger name="se.kb.libris.whelks.api">
      <level value="trace"/>
  </logger>
  -->
  <logger name="se.kb.libris.whelks.plugin.IndexingPrawn">
      <level value="trace"/>
  </logger>
  <!--
  <logger name="se.kb.libris.whelks.basic">
      <level value="trace"/>
  </logger>
  <logger name="se.kb.libris.whelks.WhelkInitializer">
      <level value="trace"/>
  </logger> 
  <logger name="se.kb.libris.whelks.StandardWhelk">
      <level value="debug"/>
  </logger>
  <logger name="se.kb.libris.whelks.importers">
      <level value="debug"/>
  </logger>
  -->
 <logger name="se.kb.libris.whelks.component.ElasticSearch">
      <level value="debug"/>
  </logger>
  <!--
 <logger name="se.kb.libris.whelks.component.DiskStorage">
      <level value="debug"/>
  </logger>
  -->
 <logger name="se.kb.libris.whelks.component.PairtreeDiskStorage">
      <level value="debug"/>
  </logger>
  <!--
 <logger name="se.kb.libris.whelks.component.CassandraStorage">
      <level value="trace"/>
  </logger>
 <logger name="se.kb.libris.whelks.component.SesameGraphStore">
      <level value="trace"/>
  </logger>
 <logger name="se.kb.libris.whelks.api.ISXNTool">
      <level value="debug"/>
  </logger>
<logger name="se.kb.libris.whelks.api.DocumentRestlet">
      <level value="trace"/>
  </logger>
<logger name="se.kb.libris.whelks.api.DumpRestlet">
      <level value="trace"/>
  </logger>
<logger name="se.kb.libris.whelks.api.ReindexOperator">
      <level value="trace"/>
  </logger>
<logger name="se.kb.libris.whelks.api.OperatorRestlet">
      <level value="trace"/>
  </logger>
<logger name="se.kb.libris.whelks.api.BenchmarkOperator">
      <level value="trace"/>
  </logger>
-->
<logger name="se.kb.libris.whelks.Query">
      <level value="trace"/>
  </logger>
  <!--
<logger name="se.kb.libris.whelks.Document">
      <level value="debug"/>
  </logger>
    <logger name="se.kb.libris.whelks.api.RemoteSearchRestlet">
        <level value="trace"/>
    </logger>
     <logger name="se.kb.libris.whelks.plugin.OaiPmhXmlConverter">
      <level value="trace"/>
</logger>
    <logger name="se.kb.libris.whelks.plugin.JsonLDCleanupIndexFormatConverter">
          <level value="debug"/>
        </logger>
<logger name="se.kb.libris.whelks.plugin.JsonLDCleanupFormatConverter">
      <level value="debug"/>
</logger>
<logger name="se.kb.libris.whelks.api.FieldSearchRestlet">
        <level value="debug"/>
</logger>
 <logger name="se.kb.libris.whelks.api.SuggestResultsConverter">
      <level value="trace"/>
  </logger>
  <logger name="se.kb.libris.whelks.api.KitinSearchRestlet2" level="INFO">
    <appender-ref ref="FILE-QUERY" />
  </logger>
  <logger name="se.kb.libris.whelks" level="DEBUG">
    <appender-ref ref="FILE-TECH" />
  </logger>

  <logger name="se.kb.libris.whelks.api" level="DEBUG">
    <appender-ref ref="FILE-API" />
  </logger>
  -->

  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>

