<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         version="2.4"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
                http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <display-name>APIX Server</display-name>

    <servlet>
        <servlet-name>ApixCatServlet</servlet-name>
        <servlet-class>whelk.apixserver.ApixCatServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>ApixSearchServlet</servlet-name>
        <servlet-class>whelk.apixserver.ApixSearchServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>PrometheusSimpleClientServlet</servlet-name>
        <servlet-class>io.prometheus.client.exporter.MetricsServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>PrometheusSimpleClientServlet</servlet-name>
        <url-pattern>/metrics</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ApixCatServlet</servlet-name>
        <url-pattern>/0.1/cat/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ApixSearchServlet</servlet-name>
        <url-pattern>/0.1/cat/libris/search</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>

    <security-role>
        <description/>
        <role-name>apix_create</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>apix_read</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>apix_update</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>apix_delete</role-name>
    </security-role>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Secure</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>apix</role-name>
            <role-name>apix_create</role-name>
            <role-name>apix_read</role-name>
            <role-name>apix_update</role-name>
            <role-name>apix_delete</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>Libris API-X</realm-name>
    </login-config>
    <security-role>
        <role-name>apix</role-name>
    </security-role>


</web-app>
