<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="xl.logRoot">./logs</Property>
    </Properties>

    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ISO8601} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <!-- We have to use %i in filePattern, and no date, because otherwise DefaultRolloverStrategy won't delete old logs
             (unless we use a hacky <Delete> solution.) -->
        <RollingFile name="File" fileName="${sys:xl.logRoot}/whelk-rest.log" filePattern="${sys:xl.logRoot}/whelk-rest.%i.log.gz">
            <PatternLayout pattern="%d{ISO8601} [%t] %-5level %logger{36} - %msg%n"/>
            <DefaultRolloverStrategy max="30" />
            <Policies>
                <CronTriggeringPolicy schedule="0 0 0 * * ?"/>
            </Policies>
        </RollingFile>
        <RollingFile name="DigitalReproductionApi" fileName="${sys:xl.logRoot}/digital-reproduction-api.log" filePattern="${sys:xl.logRoot}/digital-reproduction-api.%i.log.gz">
            <PatternLayout pattern="%d{ISO8601} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <CronTriggeringPolicy schedule="0 0 0 * * ?"/>
                <DefaultRolloverStrategy max="30"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="se.kb.libris.digi" level="info" additivity="false">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="DigitalReproductionApi"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="File" />
        </Root>
        <Logger name="org.apache.jena.riot">
            <!-- JsonLD2RdfXml.groovy passes embellished JSON-LD dataset, i.e. with named graphs to Jena.
                 It's ok that Jena drops them. -->
            <RegexFilter regex="Only triples or default graph data expected : named graph data ignored"
                         onMatch="DENY" onMismatch="ACCEPT"/>
        </Logger>
    </Loggers>
</Configuration>
