<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="xl.logRoot">.</Property>
    </Properties>

    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ISO8601} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <File name="File" fileName="${sys:xl.logRoot}/logs/whelk.log">
            <PatternLayout pattern="%d{ISO8601} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        <File name="DigitalReproductionApi" fileName="${sys:xl.logRoot}/logs/digital-reproduction-api.log">
            <PatternLayout pattern="%d{ISO8601} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>

    <Loggers>
        <Logger name="se.kb.libris.digi" level="info" additivity="false">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="DigitalReproductionApi"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="File" />
        </Root>
    </Loggers>
</Configuration>
