<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="whelk.rest.logging.JenaNamedGraphFilter"/>
        <encoder>
            <pattern>%d{ISO8601} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="File" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="whelk.rest.logging.JenaNamedGraphFilter"/>
        <file>${xl.logRoot:-./logs}/whelk-rest.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${xl.logRoot:-./logs}/whelk-rest.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{ISO8601} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="DigitalReproductionApi" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${xl.logRoot:-./logs}/digital-reproduction-api.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${xl.logRoot:-./logs}/digital-reproduction-api.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{ISO8601} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="se.kb.libris.digi" level="info" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="DigitalReproductionApi"/>
    </logger>

    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="File"/>
    </root>
</configuration>
