.gradle
/whelk-core/build
/whelk-webapi/build
/ext-*/build
/locgov-*/build
.*.swp
/work
/ext-*/**/target
/ext-*/**/work
/ext-*/**/whelk.json
/ext-*/**/logback.xml
/locgov-pairtree/**/plugins.json
whelkoperator.lck
/mystuff
.idea
build
*.iml
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
gradlew
gradlew.bat
target/camel-elasticsearch-test.log
src/**/*.properties
