.gradle
/dep/locgov-*/build
.*.swp
/work
whelkoperator.lck
/mystuff
.idea
build
*.iml
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
gradlew
gradlew.bat
target/camel-elasticsearch-test.log
src/main/resources/version.properties
