# Tooling
.DS_Store
.*.swp
*.*~
.idea
*.iml
.venv
Session.vim

# Local Config
/*.properties
/*.properties-*
!gradle.properties
emm/exampleclient/libris-cache.sqlite3

# Java/Gradle Artifacts
/.gradle
/*/.gradle
/build
/*/build
/*/out
/*/catalina.base_IS_UNDEFINED
/*/logs
/lib
# Eclipse meta files
/eclipse-classes/
.classpath
.project
.settings

# Local overrides to Log4J configuration etc.
/local-overrides/

# Logs
/logs/
