html {
  font-size: 10pt;
  font-family: Verdana, sans-serif;
}

a {
  color: #08c;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

code {
  font-size: 1.3em;
}

ul, li {
  margin: 0;
  padding: 0;
}

h2 > i {
  font-weight: normal;
}

body > nav {
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  position: fixed;
  top: 0;
  left: 0;
  width: 14em;
  height: 100%;
  overflow: scroll;
  padding: 0.2em 0.2em 4em;
}
body > nav a {
  display: block;
  font-size: 0.8em;
  margin: 0 0 0.2em;
}

body > header,
body > section {
  margin-left: 15em;
}
body > section {
  overflow: auto;
}

.class, .property {
  border: 1px solid #ccc;
  border-radius: 4px;
  float: left;
  width: 32em;
  margin: 0 1.0em 0.6em 0;
}
body > section > div:nth-of-type(even) {
  margin-top: 2em;
}
body > section > div:target {
  border-color: #08c;
  background-color: #fff;
}

div > h2 {
  margin: 0;
  padding: 0.2em;
  background-color: #eee;
  border-radius: 4px 4px 0 0;
}
div > dl {
  margin: 0.4em;
}

.baseclasses, .subclasses, .instances,
.baseclasses > li, .subclasses > li, .instances > li {
  list-style: none;
  display: inline;
}
.baseclasses > li, .subclasses > li, .instances > li {
  border: 1px solid #7af;
  border-radius: 4px;
}

.properties {
  font-size: 0.8em;
}

li.ext {
  border-color: #d51;
}
.ext a {
  color: #d51;
}

body svg {
  visibility: hidden;
}

.graph svg {
  visibility: visible;
  display: inherit;
  position: fixed;
  width: 100vw;
  left: inherit;
  right: 0;
  background-color: rgba(255, 255, 255, 0.75);
}

.graph nav {
  visibility: hidden;
}

.graph div:target {
  visibility: visible;
  z-index: 1;
}

.graph .toggle {
  position: fixed;
  top: 0; right: 0;
  z-index: 10;
  display: block;
  padding: 0.25em 0.3em;
  font-family: courier;
  font-size: 4em;
  line-height: 0.72;
  cursor: pointer;
}
