<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <!--
  <logger name="se.kb.libris.whelks.component.ElasticSearch">
      <level value="trace"/>
  </logger>
  <logger name="se.kb.libris.whelks.basic.BasicDocument">
      <level value="trace"/>
  </logger>

  <logger name="se.kb.libris.whelks.plugin">
      <level value="debug"/>
  </logger>
  -->

  <root level="debug">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
