<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <!--
  <appender name="FILE-API" class="ch.qos.logback.core.FileAppender">
      <file>${catalina.base}/logs/whelk.log</file>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  <appender name="FILE-TECH" class="ch.qos.logback.core.FileAppender">
    <file>${catalina.base}/logs/whelk-tech.log</file>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  <appender name="FILE-QUERY" class="ch.qos.logback.core.FileAppender">
    <file>${catalina.base}/logs/whelk-query.log</file>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="org.elasticsearch">
      <level value="warn"/>
  </logger>
  <logger name="se.kb.libris.whelks.plugin.JsonLDEntityExtractorIndexFormatConverter">
      <level value="trace"/>
  </logger>
  <logger name="se.kb.libris.whelks.plugin.MarcAuth2JsonLDConverter">
      <level value="trace"/>
  </logger>
  <logger name="se.kb.libris.whelks.plugin.BasicMarc2JsonLDConverter">
      <level value="debug"/>
  </logger>
  <logger name="se.kb.libris.whelks.plugin.MarcBib2JsonLDConverter">
      <level value="trace"/>
  </logger>
  <logger name="se.kb.libris.conch">
      <level value="debug"/>
  </logger>
  <logger name="se.kb.libris.whelks.plugin.Marc2JsonLDConverter">
      <level value="trace"/>
  </logger>
       <logger name="se.kb.libris.whelks.imports.BatchImport">
      <level value="debug"/>
  </logger>
  <logger name="se.kb.libris.whelks.plugin.JsonLD2MarcConverter">
      <level value="trace"/>
  </logger>
  <logger name="se.kb.libris.whelks.plugin.MarcCrackerAndLabelerIndexFormatConverter">
      <level value="trace"/>
  </logger>
  <logger name="se.kb.libris.whelks.plugin">
      <level value="trace"/>
  </logger>
  <logger name="se.kb.libris.whelks.component">
      <level value="trace"/>
  </logger>
  -->
  <logger name="se.kb.libris.whelks.api">
      <level value="trace"/>
  </logger>
  <!--
  <logger name="se.kb.libris.whelks.plugin.external.AutoSuggestFormatConverter">
      <level value="trace"/>
  </logger>
  <logger name="se.kb.libris.whelks.basic.BasicDocument">
      <level value="trace"/>
  </logger>
  <logger name="se.kb.libris.whelks.WhelkInitializer">
      <level value="trace"/>
  </logger>
  <logger name="se.kb.libris.whelks.WhelkImpl">
      <level value="trace"/>
  </logger>
  <logger name="se.kb.libris.whelks.CombinedWhelk">
      <level value="trace"/>
  </logger>
 <logger name="se.kb.libris.whelks.component.ElasticSearch">
      <level value="debug"/>
  </logger>
<logger name="se.kb.libris.whelks.api.AutoComplete">
      <level value="debug"/>
  </logger>
 <logger name="se.kb.libris.whelks.api.SuggestResultsConverter">
      <level value="trace"/>
  </logger>
  -->

  <!--
  <logger name="se.kb.libris.whelks.api.KitinSearchRestlet2" level="INFO">
    <appender-ref ref="FILE-QUERY" />
  </logger>
  <logger name="se.kb.libris.whelks" level="DEBUG">
    <appender-ref ref="FILE-TECH" />
  </logger>

  <logger name="se.kb.libris.whelks.api" level="DEBUG">
    <appender-ref ref="FILE-API" />
  </logger>
  -->

  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>

