<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <!--
  <logger name="org.elasticsearch">
      <level value="warn"/>
  </logger>
  <logger name="se.kb.libris.whelks.plugin">
      <level value="trace"/>
  </logger>
  <logger name="se.kb.libris.whelks.plugin.JsonLDEntityExtractorIndexFormatConverter">
      <level value="trace"/>
  </logger>
  <logger name="se.kb.libris.conch">
      <level value="debug"/>
  </logger>
  <logger name="se.kb.libris.whelks.plugin.MarcAuth2JsonLDConverter">
      <level value="trace"/>
  </logger>
  <logger name="se.kb.libris.whelks.plugin.BasicMarc2JsonLDConverter">
      <level value="debug"/>
  </logger>
  <logger name="se.kb.libris.whelks.plugin.BasicFormatConverter">
      <level value="trace"/>
  </logger>
  <logger name="se.kb.libris.whelks.plugin.MarcBib2JsonLDConverter">
      <level value="trace"/>
  </logger>
  <logger name="se.kb.libris.whelks.plugin.Marc2JsonLDConverter">
      <level value="trace"/>
  </logger>
   <logger name="se.kb.libris.whelks.importers">
      <level value="debug"/>
  </logger>
  <logger name="se.kb.libris.whelks.plugin.JsonLD2MarcConverter">
      <level value="trace"/>
  </logger>
  -->
  <logger name="se.kb.libris.whelks.plugin.MarcCrackerAndLabelerIndexFormatConverter">
      <level value="error"/>
  </logger>
  <!--
  <logger name="se.kb.libris.whelks.plugin">
      <level value="trace"/>
  </logger>
  <logger name="se.kb.libris.whelks.component">
      <level value="trace"/>
  </logger>
  <logger name="se.kb.libris.whelks.api">
      <level value="trace"/>
  </logger>
  <logger name="se.kb.libris.whelks.plugin.external.AutoSuggestFormatConverter">
      <level value="trace"/>
  /logger>
  <logger name="se.kb.libris.whelks.basic.BasicDocument">
      <level value="trace"/>
  </logger>
  <logger name="se.kb.libris.whelks.WhelkInitializer">
      <level value="trace"/>
  </logger>
  <logger name="se.kb.libris.whelks.StandardWhelk">
      <level value="trace"/>
  </logger>
  <logger name="se.kb.libris.whelks.CombinedWhelk">
      <level value="trace"/>
  </logger>
  -->
 <logger name="se.kb.libris.whelks.component.ElasticSearch">
      <level value="debug"/>
  </logger>
 <logger name="se.kb.libris.whelks.component.CassandraStorage">
      <level value="trace"/>
  </logger>
<logger name="se.kb.libris.whelks.api.RestAPI">
      <level value="debug"/>
  </logger>
<logger name="se.kb.libris.whelks.api.ISXNTool">
      <level value="debug"/>
  </logger>
  <!--
<logger name="se.kb.libris.whelks.api.SearchRestlet">
      <level value="debug"/>
  </logger>
<logger name="se.kb.libris.whelks.api.DocumentRestlet">
      <level value="debug"/>
  </logger>-->
<logger name="se.kb.libris.whelks.api.RestManager">
      <level value="debug"/>
  </logger>
<!--<logger name="se.kb.libris.whelks.plugin.BasicFormatConverter">
      <level value="trace"/>
</logger>
<logger name="se.kb.libris.whelks.plugin.JsonLDCleanupIndexFormatConverter">
      <level value="debug"/>
</logger>
<logger name="se.kb.libris.whelks.plugin.JsonLDCleanupFormatConverter">
      <level value="debug"/>
</logger>

 <logger name="se.kb.libris.whelks.api.SuggestResultsConverter">
      <level value="trace"/>
  </logger>
  -->

  <!--
  <logger name="se.kb.libris.whelks.api.KitinSearchRestlet2" level="INFO">
    <appender-ref ref="FILE-QUERY" />
  </logger>
  <logger name="se.kb.libris.whelks" level="DEBUG">
    <appender-ref ref="FILE-TECH" />
  </logger>

  <logger name="se.kb.libris.whelks.api" level="DEBUG">
    <appender-ref ref="FILE-API" />
  </logger>
  -->

  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>

