<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="FILE-API" class="ch.qos.logback.core.FileAppender">
      <file>${catalina.base}/logs/whelk.log</file>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  <appender name="FILE-QUERY" class="ch.qos.logback.core.FileAppender">
    <file>${catalina.base}/logs/whelk-query.log</file>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="se.kb.libris.whelks.StandardWhelk">
      <level value="debug"/>
  </logger>
  <logger name="se.kb.libris.whelks.component.ElasticSearch">
      <level value="debug"/>
  </logger>
  <logger name="se.kb.libris.whelks.plugin.MarcCrackerAndLabelerIndexFormatConverter">
      <level value="error"/>
  </logger>
   <logger name="se.kb.libris.whelks.importers.DumpImporter">
      <level value="debug"/>
  </logger>

  <logger name="se.kb.libris.whelks.api.SearchRestlet" level="INFO">
    <appender-ref ref="FILE-QUERY" />
  </logger>

  <logger name="se.kb.libris.whelks.api" level="INFO">
    <appender-ref ref="FILE-API" />
  </logger>

  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>

