<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="xl.logRoot">./logs</Property>
    </Properties>

    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ISO8601} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <!-- We have to use %i in filePattern, and no date, because otherwise DefaultRolloverStrategy won't delete old logs
             (unless we use a hacky <Delete> solution.) -->
        <RollingFile name="File" fileName="${sys:xl.logRoot}/whelk-emm.log" filePattern="${sys:xl.logRoot}/whelk-emm.%i.log.gz">
            <PatternLayout pattern="%d{ISO8601} [%t] %-5level %logger{36} - %msg%n"/>
            <DefaultRolloverStrategy max="30" />
            <Policies>
                <CronTriggeringPolicy schedule="0 0 0 * * ?"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="File" />
        </Root>
    </Loggers>
</Configuration>
