<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="catalina.base">.</Property>
    </Properties>

    <Appenders>
        <Console name="STDERR" target="SYSTEM_ERR">
            <PatternLayout pattern="%d{ISO8601} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <File name="File" fileName="${sys:catalina.base}/logs/vcopyImporterServlet.log">
            <PatternLayout pattern="%d{ISO8601} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="STDERR"/>
            <AppenderRef ref="File" />
        </Root>
    </Loggers>
</Configuration>
