<configuration>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/vcopyImporterServlet.log</file>
        <append>true</append>
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{ISO8601} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="whelk" level="info" />
    <logger name="whelk.actors" level="info" />
    <logger name="whelk.importer" level="info" />
    <logger name="whelk.vcopyServlet" level="info" />
    <logger name="whelk.converter" level="info" />
    <root level="trace">
        <appender-ref ref="FILE" />
    </root>
</configuration>