<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         version="2.4"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
                http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <display-name>Whelk</display-name>

    <filter>
        <filter-name>CORS</filter-name>
        <filter-class>com.thetransactioncompany.cors.CORSFilter</filter-class>
        <init-param>
            <param-name>cors.exposedHeaders</param-name>
            <param-value>ETag,Location</param-value>
        </init-param>
        <init-param>
            <param-name>cors.supportedMethods</param-name>
            <param-value>GET, POST, PUT, DELETE, HEAD, OPTIONS</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>whelk.AuthenticationFilter</filter-class>
        <init-param>
            <param-name>supportedMethods</param-name>
            <param-value>POST, PUT, DELETE</param-value>
        </init-param>
        <init-param>
            <param-name>whitelistedPostEndpoints</param-name>
            <param-value>/_convert,/_transliterate</param-value>
        </init-param>
        <init-param>
            <param-name>mockAuthentication</param-name>
            <param-value>false</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>AuthenticationFilterGet</filter-name>
        <filter-class>whelk.AuthenticationFilter</filter-class>
        <init-param>
            <param-name>supportedMethods</param-name>
            <param-value>GET</param-value>
        </init-param>
        <init-param>
            <param-name>mockAuthentication</param-name>
            <param-value>false</param-value>
        </init-param>
    </filter>

    <servlet>
        <servlet-name>WhelkServlet</servlet-name>
        <servlet-class>whelk.rest.api.Crud</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>MarcframeData</servlet-name>
        <servlet-class>whelk.rest.api.MarcframeData</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>RemoteSearch</servlet-name>
        <servlet-class>whelk.rest.api.RemoteSearchAPI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarcConverter</servlet-name>
        <servlet-class>whelk.rest.api.ConverterAPI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LegacyVirtualMarc</servlet-name>
        <servlet-class>whelk.rest.api.LegacyMarcAPI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RefreshAPI</servlet-name>
        <servlet-class>whelk.rest.api.RefreshAPI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HoldAPI</servlet-name>
        <servlet-class>whelk.rest.api.HoldAPI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelationsAPI</servlet-name>
        <servlet-class>whelk.rest.api.RecordRelationAPI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DuplicatesAPI</servlet-name>
        <servlet-class>whelk.rest.api.DuplicatesAPI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDataAPI</servlet-name>
        <servlet-class>whelk.rest.api.UserDataAPI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DigitalReproductionAPI</servlet-name>
        <servlet-class>se.kb.libris.digi.DigitalReproductionAPI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransliterationAPI</servlet-name>
        <servlet-class>whelk.rest.api.TransliterationAPI</servlet-class>
    </servlet>


    <servlet>
        <servlet-name>PrometheusSimpleClientServlet</servlet-name>
        <servlet-class>io.prometheus.client.exporter.MetricsServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>UserDataAPI</servlet-name>
        <url-pattern>/_userdata/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>RemoteSearch</servlet-name>
        <url-pattern>/_remotesearch</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>MarcConverter</servlet-name>
        <url-pattern>/_convert</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>HoldAPI</servlet-name>
        <url-pattern>/_findhold</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>RelationsAPI</servlet-name>
        <url-pattern>/_dependencies</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>LegacyVirtualMarc</servlet-name>
        <url-pattern>/_compilemarc</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DigitalReproductionAPI</servlet-name>
        <url-pattern>/_reproduction</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>MarcframeData</servlet-name>
        <url-pattern>/sys/marcframe.json</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>TransliterationAPI</servlet-name>
        <url-pattern>/_transliterate/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>WhelkServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>RefreshAPI</servlet-name>
        <url-pattern>/_refresh</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DuplicatesAPI</servlet-name>
        <url-pattern>/_duplicates</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PrometheusSimpleClientServlet</servlet-name>
        <url-pattern>/metrics</url-pattern>
    </servlet-mapping>

    <filter-mapping>
        <filter-name>CORS</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>AuthenticationFilterGet</filter-name>
        <url-pattern>/_userdata/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>AuthenticationFilterGet</filter-name>
        <url-pattern>/_remotesearch</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>

    <listener>
        <listener-class>whelk.rest.api.MarcFrameConverterInitializer</listener-class>
    </listener>

</web-app>
