<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="org.elasticsearch">
      <level value="warn"/>
   </logger>
  <logger name="org.apache.camel">
      <level value="info"/>
  </logger>
  <logger name="org.apache.jena.fuseki">
      <level value="warn"/>
  </logger>
  <logger name="org.apache.camel.component.http4">
      <level value="warn"/>
  </logger>
  <logger name="org.apache.camel.component.elasticsearch">
      <level value="warn"/>
  </logger>
  <logger name="org.apache.activemq.camel.component">
      <level value="info"/>
  </logger>
  <logger name="org.apache.activemq">
      <level value="warn"/>
  </logger>
 <logger name="whelk.component.PostgreSQLComponent" level="debug"/>
 <logger name="whelk.component.ElasticSearch" level="info"/>
    <logger name="whelk.servlet.OaiPmhImporterServlet" level="info"/>
 <logger name="whelk.importer.OaiPmhImporter" level="info"/>

  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>

