body {
  margin: 0; padding: 0;
}

.node > ellipse {
  fill-opacity: .9;
  stroke-width: 1.5px;
  stroke: #fff;
}
.base.node > ellipse {
  stroke: #000;
}
.enum.node > ellipse {
  fill-opacity: .6;
}

.node > text {
  color: #000;
  text-anchor: middle;
}
.enum.node > text {
  font-size: 0.6em;
}

.link {
  fill: none;
  stroke: #999;
  stroke-width: 2;
  stroke-opacity: .6;
}
.enum.link {
  stroke-width: 1;
  stroke-opacity: .3;
}

svg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

